@font-face {
  font-family: 'MyFont1';
  src: url('fonts/ofont.ru_Nuqun.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
margin: 0;
font-family: 'MyFont1', Arial, sans-serif;
overflow-x: hidden;
background-color: #a3a380
}

.name {
position: fixed;
top: 26px;
left: 30px;
font-size: 40px;
font-weight: bold;
letter-spacing: 2px;
height: 4px;
border-radius: 2px;
color: #333333;
transition: all 0.5s ease;
z-index: 1001;
}

/* Кнопка гамбургера */
.hamburger {
position: fixed;
top: 30px;
right: 30px;
width: 30px;
height: 20px;
cursor: pointer;
z-index: 1001;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.hamburger div {
height: 4px;
background-color: #333333;
border-radius: 2px;
transition: all 0.5s ease;
}

/* Выдвигающееся меню */
.menu {
position: fixed;
top: 0;
right: 100%;
width: 100%;
height: 100%;
background-color: #333333;
box-shadow: -2px 0 5px rgba(0,0,0,0);
padding: 50px 20px;
box-sizing: border-box;
transition: right 0.4s ease;
z-index: 1000;
}

.menu.open {
right: 0;
}

.menu button:first-child {
margin-top: 110px;
}

.menu2 {
position: fixed;
top: 0;
right: 35%;
width: 100%;
height: 100%;
background-color: #333333;
background: none;
box-shadow: -2px 0 5px rgba(0,0,0,0);
padding: 50px 20px;
box-sizing: border-box;
transition: right 0.5s ease;
z-index: 1000;
}

.menu2.open {
right: 0px;
}

.menu2 button:first-child {
margin-top: 110px;
}

.menu2 button {
font-family: 'MyFont1', Arial, sans-serif;
font-weight: bold;
text-align: left;
color: #a3a380;
display: block;
width: 100%;
margin: 0 0;
padding: 10px;
font-size: 60px;
letter-spacing: 5px;
cursor: pointer;
transition: all 0.2s ease;
border: none;
background: none;
border-radius: 8px;
}

/* Эффект при наведении */
.menu2 button:hover {
padding: 15px; /* немного увеличиваем внутренние отступы */
font-size: 69px; /* слегка увеличиваем текст */
}

.stick {
position: fixed;
top: 80px;
right: 100%;
left: 30px;
height: 4px;
border-radius: 2px;
background-color: #a3a380;
box-sizing: border-box;
transition: right 0.4s ease;
z-index: 1001;
}

.stick.open {
right: 30px;
}


/* Анимация для крестика */
.hamburger.active div:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
background-color: #a3a380;
}
.hamburger.active div:nth-child(2) {
opacity: 0;
}
.hamburger.active div:nth-child(3) {
transform: rotate(-45deg) translate(6px, -6px);
background-color: #a3a380;
}
.name.active {
color: #a3a380;
}

/* Убираем голубое выделение при клике на кнопку */
button,
button:focus,
button:active,
.hamburger,
.hamburger:focus,
.hamburger:active {
outline: none;
box-shadow: none;
-webkit-tap-highlight-color: transparent; /* для телефонов */
}

/* Чтобы и при клике на мобильных не было подсветки */

{
-webkit-tap-highlight-color: transparent;
}
